{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuance</title>
    <script src="{% static 'nuance/scripts/jquery.min.js' %}"></script>
    <script src="{% static 'nuance/scripts/render.js' %}"></script>
    <style type="text/css">
        html{ font-family: 'Helvetica', 'Arial', sans; }
    </style>
</head>
<body>
<h1>Nuance</h1>
<p>Skeleton form</p>
<form method="POST" action="makeblob">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Translate" id="submit"/>
</form>
</body>
</html>